/* @import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"); */

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "DungGeunMo", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html {
  overflow: hidden;
}

/* .digital {
  font-family: "DungGeunMo";
} */

.keep-all {
  word-break: keep-all;
}

.cell {
  background: rgba(44, 21, 52, 0.4);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 47, 75, 0.3);
}

.opened-cell {
  background: rgba(223, 220, 239, 0.7);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 47, 75, 0.3);
}

.mine-cell {
  background: rgba(228, 106, 106, 0.7);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 47, 75, 0.3);
}

.item-cell {
  background: rgba(106, 185, 213, 0.5);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 47, 75, 0.3);
}

.ally-cell {
  background: rgba(213, 199, 106, 0.5);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 47, 75, 0.3);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.after-text:after {
  content: " ▼";
  animation: blink 1s step-end infinite;
}

.after-text.is-typing:after {
  content: " _";
  animation: blink 1s step-end infinite;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

img {
  image-rendering: pixelated;
}
